<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width"/>
	</head>
	<body>
		<h1>PJMEN</h1>
		<p>A PassportJS, Javascript, MongoJS, ExpressJS, NodeJS base project.</p>
	</body>
</html>