<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%- title %></title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/login.css">
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <main>
            <nav>
                <h1>
                    <a href="/"><%- message %></a>
                </h1>
            </nav>
            <section>
            <h2>Login/Sign-up</h2>
                <%- message %>
                <form method="post" action="/api/login">
                    <p>
                        <label>Username:</label>
                        <input type="text" name="username" id="username">
                    </p>
                    <p>
                        <label>Password:</label>
                        <input name="password" type="password" id="password">
                    </p>
                    <p>
                        <button type="button" id="login-btn">Login</button>
                        <button type="button" id="signup-btn">Sign-Up</button>
                    </p>
                    <input style="display:none;" id="url-input" name="urlhash"/>
                    <pre id="response"></pre>
                </form>
            </section>
        </main>
        <script type="module" src="app.js"></script>
        <script>
            document.getElementById('url-input').value = location.hash;
        </script>
    </body>
</html>
