<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%- user.username %></title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/login.css">
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <main>
            <section>
            <h2><%- user.username %></h2>
            <ul>
                <li><%- user.email %></li>
                <li><%- user.createdDate %></li>
            </ul>
            </section>
        </main>
    </body>
</html>
